@import "./normalize.scss";
@import "./grid.scss";
@import "./utility.scss";

// @import "./guide.scss";

main{
  > .year{
    &:nth-child(2){
      padding-top: 50px;
    }
  }
}
.year{
  position: relative;
  padding-top: 180px;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #000000;
    transform: translate(-50%, 0);
  }
  &::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 120px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    transform: translate(-50%, 0);
  }

  // 年表記
  &.y-1959{
    &::after{
      content: "1959";
    }
  }
  &.y-1960s{
    &::after{
      content: "1960年代";
    }
  }

  // 画像の配置
  .col-right{
    &.col-lg-5{
      > .image{
        width: calc(100% + (1.5 * #{$gutter-wid}) + #{$col-wid});
        margin-left: calc(-1 * (1.5 * (#{$gutter-wid}) + #{$col-wid}));
        font-size: 0;
      }
    }
    &.col-lg-6{
      > .image{
        width: calc(100% + (#{$gutter-wid} / 2));
        margin-left: calc(-1 * #{$gutter-wid} / 2);
        font-size: 0;
      }
    }
  }
  .col-left{
    &.col-lg-5{
      > .image{
        width: calc(100% + (1.5 * #{$gutter-wid}) + #{$col-wid});
        margin-right: calc(-1 * (1.5 * (#{$gutter-wid}) + #{$col-wid}));
        font-size: 0;
      }
    }
    &.col-lg-6{
      > .image{
        width: calc(100% + (#{$gutter-wid} / 2));
        margin-right: calc(-1 * #{$gutter-wid} / 2);
        font-size: 0;
      }
    }
  }
  // 見出しの●
  .col-right{
    h3{
      position: relative;
      padding-left: calc(1em + 8px);
      &::before{
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background: #000;
      }
    }
    p{
      padding-left: 32px;
    }
  }
  .col-left{
    h3{
      position: relative;
      padding-right: calc(1em + 8px);
      text-align: right;
      &::before{
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background: #000;
      }
    }
    p{
      padding-right: 32px;
    }
  }
}
