/* グリッド */
$col-wid:82px;
$gutter-wid:16px;
$gutter-wid-sm:18px;
$colwrap-wid: $col-wid * 12 + $gutter-wid * 12;
$col-md-wid: $col-wid / $colwrap-wid * 100;
$gutter-md-wid: $gutter-wid / $colwrap-wid * 100;
$gutter-sp-wrap: 20px;

/* ブレイクポイントの設定 min~max */
$mq-breakpoints-min: (
  'xs': '0px',
  'sm': '481px',
  'md': '769px',
  'lg': $colwrap-wid + 1px,
) !default;

$mq-breakpoints-max: (
  'xs': '480px',
  'sm': '768px',
  'md': $colwrap-wid,
  'lg': '99999px',
) !default;

/* mq:それより小さい画面に適応 mq-target:そのメディアクエリのみ */
@mixin mq-target($breakpoint: md) {
  @media screen and (min-width: #{map-get($mq-breakpoints-min, $breakpoint)}) and (max-width: #{map-get($mq-breakpoints-max, $breakpoint)}) {
    @content;
  }
}

@mixin mq($breakpoint: md) {
  @media screen and (max-width: #{map-get($mq-breakpoints-max, $breakpoint)}) {
    @content;
  }
}

/* アニメーション */
$anim: all 500ms 0s cubic-bezier(0.19, 1, 0.22, 1);

/* Reset系 */
*{
  color: #333;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  box-sizing: border-box;
}
h1,h2,h3,h4,p{
  margin: 0;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1,h2,h3{
  font-weight: 400;
  letter-spacing: 0em;
  font-family: 'SangBleuB',"kocho";
}
ul,li,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1{
  font-size: 3.5rem;
  @include mq(sm){
    font-size: 2.5rem;
  }
}
h2{
  font-size: 2.5rem;
  line-height: 1.2;
  font-feature-settings: "palt";
}
h3{
  font-size: 1.5rem;
  line-height: 1.16666666;
  letter-spacing: 0.03em;
  font-feature-settings: "palt";
}
p{
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0em;
  font-feature-settings: "palt";
  text-align: justify;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
