@import "./normalize.scss";
@import "./grid.scss";
@import "./utility.scss";

// @import "./guide.scss";
// *{
//   outline: 1px #f00 solid;
// }
.about-text{
  text-align: center;
  @include mq(sm){
    text-align: left;
  }
}

@font-face {
  font-family: 'SangBleuB';
  font-style: normal;
  font-weight: 600;
  src: url("../font/SangBleuB.eot");
  /* IE9 Compat Modes */
  src: url("../font/SangBleuB.eot?#iefix") format("embedded-opentype"), url("../font/SangBleuB.woff") format("woff"), url("../font/SangBleuB.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SangBleuBK';
  font-style: normal;
  font-weight: 800;
  src: url("../font/SangBleuBK.eot");
  /* IE9 Compat Modes */
  src: url("../font/SangBleuBK.eot?#iefix") format("embedded-opentype"), url("../font/SangBleuBK.woff") format("woff"), url("../font/SangBleuBK.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Kocho';
  font-style: normal;
  font-weight: 800;
  src: url("../font/kocho.eot");
  /* IE9 Compat Modes */
  src: url("../font/kocho.eot?#iefix") format("embedded-opentype"), url("../font/kocho.woff") format("woff"), url("../font/kocho.ttf") format("truetype");
  /* Safari, Android, iOS */
}

main{
  > .year{
    &:nth-child(2){
      padding-top: 50px;
    }
  }
}
.year{
  font-family: 'SangBleuB',"kocho";
  position: relative;
  padding-top: 180px;
  @include mq(sm){
    padding-top: 210px;
  }
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #000000;
    transform: translate(-50%, 0);
    @include mq(sm){
      left: 20px;
    }
  }
  &::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 120px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    transform: translate(-50%, 0);
    @include mq(sm){
      top: 120px;
      left: 40px;
      width: 80%;
      text-align: left;
      transform: none;
    }
  }

  // 年表記
  &.y-1959{
    @include mq(sm){
      padding-top: 0 !important;
    }
    &::after{
      content: "1959";
      @include mq(sm){
        top: 200px;
      }
      @include mq(xs){
        top: 300px;
      }
    }
  }
  &.y-1960s{
    &::after{
      content: "1960年代";
    }
  }
  &.y-1960{
    &::after{
      content: "1960";
    }
  }
  &.y-1964{
    &::after{
      content: "1964";
    }
  }
  &.y-1965{
    &::after{
      content: "1965";
    }
  }
  &.y-1968{
    &::after{
      content: "1968";
    }
  }
  &.y-1969{
    &::after{
      content: "1969";
    }
  }
  &.y-1970{
    &::after{
      content: "1970";
    }
  }
  &.y-1971{
    &::after{
      content: "1971";
    }
  }
  &.y-1972{
    &::after{
      content: "1972";
    }
  }
  &.y-1974{
    &::after{
      content: "1974";
    }
  }
  &.y-1975{
    &::after{
      content: "1975";
    }
  }
  &.y-1976{
    &::after{
      content: "1976";
    }
  }
  &.y-1977{
    &::after{
      content: "1977";
    }
  }
  &.y-1978{
    &::after{
      content: "1978";
    }
  }
  &.y-1980{
    &::after{
      content: "1980";
    }
  }
  &.y-1983{
    &::after{
      content: "1983";
    }
  }
  &.y-1984{
    &::after{
      content: "1984";
    }
  }
  &.y-1985{
    &::after{
      content: "1985";
    }
  }
  &.y-1986{
    &::after{
      content: "1986";
    }
  }
  &.y-1987{
    &::after{
      content: "1987";
    }
  }
  &.y-1980s{
    &::after{
      content: "1980年代";
    }
  }
  &.y-1988{
    &::after{
      content: "1988";
    }
  }
  &.y-1990s{
    &::after{
      content: "1990s";
    }
  }
  &.y-1991{
    &::after{
      content: "1991";
    }
  }
  &.y-1992{
    &::after{
      content: "1992";
    }
  }
  &.y-1994{
    &::after{
      content: "1994";
    }
  }
  &.y-1995{
    &::after{
      content: "1995";
    }
  }
  &.y-1997{
    &::after{
      content: "1997";
    }
  }
  &.y-1998{
    &::after{
      content: "1998";
    }
  }
  &.y-2000{
    &::after{
      content: "2000";
    }
  }
  &.y-2001{
    &::after{
      content: "2001";
    }
  }
  &.y-2002{
    &::after{
      content: "2002";
    }
  }
  &.y-2003{
    &::after{
      content: "2003";
    }
  }
  &.y-2004{
    &::after{
      content: "2004";
    }
  }
  &.y-2005{
    &::after{
      content: "2005";
    }
  }
  &.y-2008{
    &::after{
      content: "2008";
    }
  }
  &.y-2009{
    &::after{
      content: "2009";
    }
  }
  &.y-2010{
    &::after{
      content: "2010";
    }
  }
  &.y-2011{
    &::after{
      content: "2011";
    }
  }
  &.y-2012{
    &::after{
      content: "2012";
    }
  }
  &.y-2013{
    &::after{
      content: "2013";
    }
  }
  &.y-2014{
    &::after{
      content: "2014";
    }
  }
  &.y-2015{
    &::after{
      content: "2015";
    }
  }
  &.y-2016{
    &::after{
      content: "2016";
    }
  }
  &.y-2017{
    &::after{
      content: "2017";
    }
  }
  &.y-2018{
    &::after{
      content: "2018";
    }
  }
  &.y-2019{
    &::after{
      content: "2019";
    }
  }
  &.y-2020{
    &::after{
      content: "2020";
    }
  }
  &.y-2021{
    &::after{
      content: "2021";
    }
  }

  // レイアウト、画像の配置
  .col-lg-12{
    @include mq(sm){
      padding: 0 $gutter-wid-sm / 2 0 $gutter-wid-sm / 2 + 10;
    }
    h2{
      @include mq(sm){
        padding-left: 10px;
      }
    }
  }
  .col-right{
    width: 5 * $col-wid + 5 * $gutter-wid;
    margin-left: 7 * $col-wid + 7 * $gutter-wid;
    padding: 0 $gutter-wid / 2;
    @include mq(){
      margin-left: 50%;
    }
    @include mq(sm){
      width: 100%;
      margin-left: 0;
      padding: 0 $gutter-wid-sm / 2 0 $gutter-wid-sm / 2 + 10;
    }
    > .image{
      width: calc(100% + (1.5 * #{$gutter-wid}) + #{$col-wid});
      margin-left: calc(-1 * (1.5 * (#{$gutter-wid}) + #{$col-wid}));
      font-size: 0;
      @include mq(){
        width: calc(100% + #{$gutter-wid});
        margin-left: -1 * $gutter-wid / 2;
      }
      @include mq(sm){
        width: calc(100vw - 20px);
        margin-left: -11px;
      }
    }
  }
  .col-left{
    width: 5 * $col-wid + 5 * $gutter-wid;
    padding: 0 $gutter-wid / 2;
    @include mq(){
      width: calc((100vw - (100vw - 100%)) / 12 * 6);
      padding: 0 $gutter-wid / 2;
    }
    @include mq(sm){
      width: 100%;
      margin-left: 0;
      padding: 0 $gutter-wid-sm / 2 0 $gutter-wid-sm / 2 + 10;
    }
    > .image{
      width: calc(100% + (1.5 * #{$gutter-wid}) + #{$col-wid});
      margin-right: calc(-1 * (1.5 * (#{$gutter-wid}) + #{$col-wid}));
      font-size: 0;
      @include mq(){
        width: calc(100% + #{$gutter-wid});
        margin-left: -1 * $gutter-wid / 2;
      }
      @include mq(sm){
        width: calc(100vw - 20px);
        margin-left: -11px;
      }
    }
  }
  // 見出しの●
  .col-right{
    h2{
      padding-left: 32px;
      @include mq(sm){
        padding-left: 10px;
      }
    }
    h3{
      position: relative;
      padding-left: calc(1em + 8px);
      &::before{
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background: #000;
      }
      @include mq(sm){
        padding-left: 10px;
        &::before{
          left: -23px;
        }
      }
    }
    h4{
      position: relative;
      padding-left: calc(1em + 8px);
      text-align: left;
      &::before{
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background: #963434;
      }
      @include mq(sm){
        padding-left: 10px;
        &::before{
          left: -18px;
        }
      }
     }
     h5{
      position: relative;
      padding-left: calc(1em + 8px);
      text-align: left;
      &::before{
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background: #2B6479;
      }
      @include mq(sm){
        padding-left: 10px;
        &::before{
          left: -18px;
        }
      }
    }
  p{
      padding-left: 32px;
      @include mq(sm){
        padding-left: 10px;
      }
    }
  }
  .col-left{
    h3{
      position: relative;
      padding-right: calc(1em + 8px);
      text-align: right;
      &::before{
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background: #000;
      }
      @include mq(sm){
        padding-right: 0;
        padding-left: 10px;
        text-align: left;
        &::before{
          right: inherit;
          left: -23px;
        }
      }
    }
    h4{
      position: relative;
      padding-right: calc(1em + 8px);
      text-align: right;
      &::before{
        content: "";
        position: absolute;
        top: 1px;
        right: 0;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background: #963434;
      }
      @include mq(sm){
        padding-right: 0;
        padding-left: 10px;
        text-align: left;
        &::before{
          right: inherit;
          left: -18px;
        }
      }
    }
    h5{
      position: relative;
      padding-right: calc(1em + 8px);
      text-align: right;
      &::before{
        content: "";
        position: absolute;
        top: 1px;
        right: 0;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background: #2B6479;
      }
      @include mq(sm){
        padding-right: 0;
        padding-left: 10px;
        text-align: left;
        &::before{
          right: inherit;
          left: -18px;
        }
      }
    }
  p{
      padding-right: 32px;
      @include mq(sm){
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}
h4{
  font-size: 15px;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #963434;
}
h5{
  font-size: 15px;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #2B6479;
}
.festival{
  font-size: 20px;
  font-family: 'SangBleuB',"kocho";
}
.w100{
  margin: 0 100px;
  @include mq(sm){
    margin: 0 10px;
  }
}
#contribution{
  padding: 150px 0;
  h1{
    font-size: 40px;
    text-align: center;
  }
  h2{
    font-size: 24px;
    text-align: center;
    padding: 80px 0 20px;
    border-bottom: 1px solid #000000;
    @include mq(sm){
      font-size: 1.25rem;
    }
  }
  h3{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }
  p{
    font-size: 18px;
    margin-top: 50px;
    @include mq(sm){
      font-size: 0.875rem;
    }
  }
}
#credit{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 100px 0;
  h1{
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  h2{
    font-size: 15px;
    text-align: center;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  h3{
    font-size: 15px;
    text-align: center;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  p{
    width: 600px;
    margin: 30px auto;
    margin-bottom: 50px;
    @include mq(sm){
       width: 100%;
    }
  }
}
#reference{
  padding: 100px 0;
  h1{
    font-size: 25px;
  }
  p{
    margin-top: 50px;
  }
  a{
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    word-break: break-all;
  }
}
#toindex{
  width: 130px;
  margin: 20px 20px 80px;
  a{
    width: 100%;
  }
}
.guide{
  margin-top: 50px;
  margin-bottom: 100px;
}
.red{
  color: #963434;
}
.blue{
  color: #2B6479;
}

// ヘッダーメニューのcss
// .menu {
//   font-family: 'SangBleuBK';
//   font-size: 25px;
//   position: fixed;
//   background: #fff;
//   box-sizing: border-box;
//   line-height: 1.3;
//   @include mq(){
//     font-size: 25px;
//   }
//   @include mq(sm){
//     font-size: 16px;
//   }
// }
// .ue {
//   z-index: 8000;
//   display: flex;
//   width: 100vw;
//   height: 65px;
//   border-bottom: 1px solid #000000;
//   top: 0;
//   left: 0;
//   @include mq(){
//     height: 64px;
//     bottom: 64px;
//     padding: 0px 0px;
//     .pconly{
//       display: none;
//     }
//   }
//   @include mq(sm){
//     height: 55px;
//     bottom: 55px;
//     .smonly{
//       display: none;
//     }
//   }
//   a {
//     width: 100%;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   a:hover {
//     background-color: #DDD;
//     transition: .3s ease-in-out;
//   }
//   .noborder {
//     border: none;
//   }
//   .lang {
//     white-space: nowrap;
//     padding: 10px;
//     text-align: center;
//     @include mq(){
//       display: none;
//     }
//     .now {
//       color: #DDD;
//     }
//   }
// }
// .top{
//   @include mq(){
//     width: 230px;
//     height: 64px;
//   }
//   @include mq(sm){
//     width: 130px;
//     height: 55px;
//   }
// }
// .logo {
//   display: block !important;
//   @include mq(){
//     display: none !important;
//   }
// }
// .logobox {
//   width: 210px;
//   padding: 10px;
// }
// .slogo {
//   display: none !important;
//   @include mq(){
//     display: block !important;
//   }
//   @include mq(sm){
//     display: none !important;
//   }
// }
// .slogobox {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   img {
//     height: 70%;
//     width: 70%;
//     display: block;
//   }
//   .humb {
//     position: relative;
//     height: 29px;
//     width: 32px;
//     margin-right: 4px;
//     .l1 {
//       position: absolute;
//       top: 0;
//       height: 1px;
//       width: 100%;
//       background: #000;
//     }
//     .l2 {
//       position: absolute;
//       top: 14px;
//       height: 1px;
//       width: 100%;
//       background: #000;
//     }
//     .l3 {
//       position: absolute;
//       bottom: 0;
//       height: 1px;
//       width: 100%;
//       background: #000;
//     }
//   }
// }
// .xslogo {
//   display: none !important;
//   @include mq(){
//     display: none !important;
//   }
//   @include mq(sm){
//     display: block !important;
//   }
// }
// .xslogobox {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   margin-left: 20px;
//   img {
//     height: 20px;
//     display: block;
//   }
//   .humb {
//     position: relative;
//     height: 21px;
//     width: 25px;
//     margin-right: 8px;
//     .l1 {
//       position: absolute;
//       top: 0;
//       height: 1px;
//       width: 100%;
//       background: #000;
//     }
//     .l2 {
//       position: absolute;
//       top: 10px;
//       height: 1px;
//       width: 100%;
//       background: #000;
//     }
//     .l3 {
//       position: absolute;
//       bottom: 0;
//       height: 1px;
//       width: 100%;
//       background: #000;
//     }
//   }
// }
// .shita {
//   z-index: 5000;
//   display: flex;
//   width: 100vw;
//   height: 65px;
//   border-top: 1px solid #000000;
//   bottom: 0;
//   left: 0;
//   @include mq(){
//     height: 64px;
//     bottom: 0px;
//     padding: 0px 0px;
//   }
//   @include mq(sm){
//     height: 55px;
//     bottom: 0px;
//   }
//   a {
//     width: 100%;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   a:hover {
//     background-color: #DDD;
//     transition: .3s ease-in-out;
//   }
//   .snsbnr {
//     width: 200px;
//     display: flex;
//     margin: 0 25px;
//     justify-content: center;
//     align-items: center;
//     a{
//       img {
//         height: 30px;
//         margin: 0 10px;
//       }
//       img:hover {
//         transform: translateY(-3px);
//         transition: transform .2s;
//       }
//     }
//     @include mq(){
//       display: none;
//     }
//   }
//   .pconly{
//     @include mq(){
//       display: none;
//     }
//   }
//   .smonly{
//     @include mq(sm){
//       display: none;
//     }
//   }
// }
// #nav-drawer {
//   position: relative;
// }

// /*チェックボックス等は非表示に*/
// .nav-unshown {
//   display: none;
// }

// /*アイコンのスペース*/
// #nav-open {
//   display: inline-block;
//   vertical-align: middle;
// }

// /*閉じる用の薄黒カバー*/
// #nav-close {
//   display: none;
//   /*はじめは隠しておく*/
//   position: fixed;
//   z-index: 99;
//   top: 0;
//   /*全体に広がるように*/
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: black;
//   opacity: 0;
//   transition: .3s ease-in-out;
// }

// /*中身*/
// #nav-content {
//   overflow: auto;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 9999;
//   /*最前面に*/
//   width: auto;
//   /*右側に隙間を作る（閉じるカバーを表示）*/
//   max-width: 330px;
//   /*最大幅（調整してください）*/
//   height: auto;
//   background: #DDD;
//   /*背景色*/
//   transition: .3s ease-in-out;
//   /*滑らかに表示*/
//   -webkit-transform: translateX(-105%);
//   transform: translateX(-105%);
//   /*左に隠しておく*/
//   color: #000;
//   padding: 20px;
//   letter-spacing: 0.08em;
//   line-height: 2.5;
//   a {
//     color: #000;
//     position: relative;
//     display: inline-block;
//     text-decoration: none;
//     cursor: pointer;
//     img {
//       width: 30px;
//       margin: 20px 15px 0px 0px;
//     }
//   }
// }
// /*チェックが入ったらもろもろ表示*/
// #nav-input:checked ~ #nav-close {
//   display: block;
//   /*カバーを表示*/
//   opacity: .5;
// }

// #nav-input:checked ~ #nav-content {
//   -webkit-transform: translateX(0%);
//   transform: translateX(0%);
//   /*中身を表示（右へスライド）*/
//   box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
// }

// .commonfadein {
//   opacity: 0;
//   transform: translateY(20px);
//   transition: all 1s;
// }
// .en18 {
//   font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
//   font-weight: bold;
//   font-size: 18px;
//   font-feature-settings: "palt";
// }
// .en15 {
//   font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
//   font-weight: bold;
//   font-size: 15px;
//   text-align: justify;
//   font-feature-settings: "palt";
// }
// .jp13 {
//   font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
//   font-size: 13px;
//   text-align: justify;
//   font-feature-settings: "palt";
// }
